{% extends 'main/base.html' %}

{% block title %} El Music || Page not found {% endblock %}

{% block body %}
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="alert-danger alert text-center">
                <h1>
                    The requested page could not be found.
                </h1>
                <h2>
                    A programmer's way to say this is ERROR 404.
                </h2>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}