{% extends 'main/base.html' %}

{% block title %} El Music || Server Error {% endblock %}

{% block body %}
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="alert-danger alert text-center">
                <h1>This is an internal server error</h1>
                <h2>which means the last thing you did caused our server to fail at some point please don't do it again!!</h2>
            </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
{% endblock %}