{% extends 'main/base.html' %}

{% block title %} El Music || New Things {% endblock %}

{% block body %}

    <div class="container wrapper">
        <div class="alert alert-info">You're trying to add {{ to_add }}</div>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ form.errors }}
                <div class="row text-default">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <div class="form-group has-errors text-danger small">
                            {{ error }}
                            {{ field }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="form-group col-sm-2">
                        {{ field.label }}
                    </div>
                    <div class="form-group col-sm-5">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <input class="btn btn-default" type="submit" value="Add {{ to_add }}">
        </form>
    </div>

{% endblock %}

{% block css %}
    <style>
        .wrapper{
            background-color: #222;
            padding: 20px;
        }
        form *{
            color: #9d9d9d;
        }
        select, ::placeholder,input[type='text']{
            color:black!important;
        }
        .col-sm-5 *{
            width: 100%!important;
        }
    </style>
{% endblock %}
