{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} El Music!! {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <style>
        *{
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
        }


        footer{
            height: 80px; padding-top: 30px; margin-top: 80px;
        }

        .footer {
          width: 100%;
          background-color: #111;
          color:#9d9d9d;
          text-align: center;
        }

        .navbar, .navbar-form .form-group .input-group *{
            border-radius: 0!important;
        }
    </style>
    {% block css %}{% endblock %}
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'main:index' %}">El Music</a>
        </div>

        <div class="navbar-collapse collapse" id="searchbar">

            <ul class="nav navbar-nav navbar-left">
                <li class="{% block art_active %}{% endblock %}"><a href="{% url 'main:all_artists' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;Artists</a></li>
                <li class="{% block alb_active %}{% endblock %}"><a href="{% url 'main:all_albums' %}"><span class="glyphicon glyphicon-cd"></span>&nbsp;Albums</a></li>
                <li class="{% block sng_active %}{% endblock %}"><a href="{% url 'main:all_songs' %}"><span class="glyphicon glyphicon-music"></span>&nbsp;Songs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a></li>
                <li><a href=""><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;SignUp</a></li>
            </ul>

            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <input class="form-control" name="search" placeholder="Search Artists, Albums and Songs" autocomplete="off" type="text">
                        <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </form>

        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="footer">
    <p class="text-center"> All Right Reserved &copy; El-Music 2017 - Nour Alhadi Mahmoud</p>
</footer>

<script type="text/javascript" src="{% static 'main/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script>
     $(document).ready(function () {
                $("footer").parent().css({position: 'relative'});
                $("footer").css({width:'100%' , position:'absolute'});
                var h =  $(window).height();
                var pos = $("footer").position();
                var ntop = h - 80;
                if (pos.top < h) $("footer").css({top:ntop});
            });
</script>
{% block js %}{% endblock %}
</body>
</html>