{% extends 'main/base.html' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Top rated songs
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for song in songs %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-3 portfolio-item">
                    <div class="card">
                        <a class="anchor" href="{{ song.file_src.url }}">
                            <img src="{{ song.album.logo.url }}" alt="{{ song.title }}" width="100%">
                            <div class="cont">
                                <h4><b>{{ song.title }}</b></h4>
                                <p>{{ song.album.artist.name }} - {{ song.album.title }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

        {% if songs.count == 0 %}
            <!-- Row -->
            <div class="row">
                <div class="col-sm-8 alert alert-danger">
                    No Songs Yet!!
                </div>
            </div>
            <!-- /.row -->
        {% endif %}


        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Top rated albums
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for album in albums %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-3 portfolio-item">
                    <div class="card">
                        <a class="anchor" href="{% url 'main:show_album' album.id %}">
                            <img src="{{ album.logo.url }}" alt="{{ album.title }}" width="100%">
                            <div class="cont">
                                <h4><b>{{ album.title }}</b></h4>
                                <p> {{ album.song_set.all|length }} song(s)  | By: {{ album.artist.name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

        {% if albums.count == 0 %}
            <!-- Row -->
            <div class="row">
                <div class="col-sm-8 alert alert-danger">
                    No Albums Yet!!
                </div>
            </div>
            <!-- /.row -->
        {% endif %}

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Top rated artists
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% for artist in artists %}
            {% if forloop.first %}<div class="row">{% endif %}
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 col-md-3 portfolio-item">
                    <div class="card">
                        <a class="anchor" href="{% url 'main:show_artist' artist.id %}">
                            <img src="{{ artist.image.url }}" alt="{{ artist.name }}" width="100%">
                            <div class="cont">
                                <h4><b>{{ artist.name }}</b></h4>
                                <p> A total of {{ artist.album_set.all|length}} albums </p>
                            </div>
                        </a>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}

        {% if albums.count == 0 %}
            <!-- Row -->
            <div class="row">
                <div class="col-sm-8 alert alert-danger">
                    No Artists Yet!!
                </div>
            </div>
            <!-- /.row -->
        {% endif %}

    </div>
    <!-- /.container -->
{% endblock %}

{% block css %}
    <style>
        .portfolio-item {
            margin-bottom: 25px;
        }


        .card {
            box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        .card:hover {
            box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.5);
        }

        .card {
            box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;
        }

        img {
            border-radius: 5px 5px 0 0;
            height: 200px;
        }
        .anchor{
            color: inherit;
        }
        .anchor:hover{
            text-decoration: none;
        }

        .cont{
            padding: 2px 16px;
        }
    </style>
{% endblock %}