{% extends 'main/base.html' %}


{% block title %} El Music || {{ song.title }} {% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-1"></div>

            <div class="col-md-10">

                <div class="thumbnail row">
                    <div class="col-xs-12">
                        <h2>{{ song.title }}</h2>
                    </div>

                    <div class="col-xs-12 col-md-12 col-sm-12 listen">
                        <audio src="{{ song.file_src.url }}" controls></audio>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <img class="image" height="200px" width="100%" src="{{ song.album.logo.url }}" alt="{{ song.title }}">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-9">
                        <div class="caption-full text-center">
                            <p> {{ song.lyrics|safe }} </p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="ratings">
                            <p class="pull-right">{{ song.review_set.all|length }}</p>
                            <p>
                                {{ star_temp|safe }}
                                {{ stars }} stars
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Start Of Reviews -->
                <div class="well">
                    <div class="row">
                        <div class="form-wrap">
                            <div class="stars"> Rating Stars:
                                <span id="1" class="glyphicon glyphicon-star"></span>
                                <span id="2" class="glyphicon glyphicon-star"></span>
                                <span id="3" class="glyphicon glyphicon-star"></span>
                                <span id="4" class="glyphicon glyphicon-star-empty"></span>
                                <span id="5" class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input id="stars" type="hidden" value="3" name="stars">
                                <input type="hidden" value=" {% if user.is_authenticated %} {{ user.username }} {% else %} Just a visitor {% endif %}" name="person">
                                <textarea id="text-area" name="review" placeholder="A Short Review" required></textarea>
                                <br /> <br />
                                <input type="submit" class="btn btn-success" value="Leave a Review">
                            </form>

                        </div>
                    </div>

                    <hr>
                    <div class="clear"></div>
                    {% for review in song.review_set.all %}
                        <div class="row">
                            <div class="col-md-12">
                                {% if review.stars > 0 %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                                {% if review.stars > 1 %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                                {% if review.stars > 2 %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                                {% if review.stars > 3 %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                                {% if review.stars > 4 %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endif %}

                                {% if review.stars < 5 %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}

                                {% if review.stars < 4 %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}

                                {% if review.stars < 3 %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}

                                {% if review.stars < 2 %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}

                                {% if review.stars < 1 %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                {% endif %}


                                {{ review.person }}
                                <span class="pull-right">{{ review.time }}</span>
                                <p>{{ review.body }}</p>
                            </div>
                        </div>
                    {% if not forloop.last %}<hr>{% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

{% endblock %}

{% block css %}
    <style>
        .portfolio-item {
            margin-bottom: 25px;
        }

        .item > a > img{
            max-height: 200px!important;
            min-height: 200px!important;
            min-width: 90%!important;
            max-width: 90%!important;
        }

        .item{
            background-color: #9d9d9d;
            padding: 10px 0;
            text-align: center;
        }

        .item > a{
            color:#222;
        }

        .item :hover{
            color: #FFF;
            text-decoration: none;
        }

        .thumbnail{
            padding: 20px;
        }

        .image{
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;

            -webkit-box-shadow: 9px 9px 9px #e3e3e3;
            -moz-box-shadow: 9px 9px 9px #e3e3e3;
            box-shadow: 9px 9px 9px #e3e3e3;

            border: 1px solid #eee;
        }

        #text-area{
            resize: none;
            width: 50%;
        }

        .form-wrap{
            padding: 0 20px;
        }

        .form-wrap > *{
            margin-bottom: 10px;
        }

        .stars {
            width: 100%;
        }

        .stars > span{
            padding-left: 10px;
        }

        audio{
            width: 100%;
        }

        .listen{
            margin-bottom: 50px;
        }

    </style>
{% endblock %}

{% block js %}
    <script>
        //glyphicon-star-empty
        $("#1").mouseenter(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
        });

        $("#2").mouseenter(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
        });

        $("#3").mouseenter(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
        });


        $("#4").mouseenter(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
        });

        $("#5").mouseenter(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#5").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
        });

        var lock1 = false;
        var lock2 = false;
        var lock3 = false;
        var lock4 = false;
        var lock5 = false;

        $("#1").mouseleave(function(){
            if (!lock1) $("#1").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock2) $("#2").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock3) $("#3").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock4) $("#4").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock5) $("#5").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
        });

        $("#2").mouseleave(function(){
            if (!lock1) $("#1").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock2) $("#2").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock3) $("#3").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock4) $("#4").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock5) $("#5").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
        });

        $("#3").mouseleave(function(){
            if (!lock1) $("#1").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock2) $("#2").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock3) $("#3").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock4) $("#4").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock5) $("#5").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
        });

        $("#4").mouseleave(function(){
            if (!lock1) $("#1").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock2) $("#2").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock3) $("#3").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock4) $("#4").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock5) $("#5").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
        });

        $("#5").mouseleave(function(){
            if (!lock1) $("#1").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock2) $("#2").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock3) $("#3").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock4) $("#4").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
            if (!lock5) $("#5").addClass("glyphicon-star-empty").removeClass("glyphicon-star");
        });

        $("#1").click(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#stars").val("1");
            lock1 = true;
            lock2 = lock3 = lock4 = lock5 = false;
        });

        $("#2").click(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#stars").val("2");
            lock1 = lock2 = true;
            lock3 = lock4 = lock5 = false;
        });

        $("#3").click(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#stars").val("3");
            lock1 = lock2 = lock3 = true;
            lock4 = lock5 = false;
        });


        $("#4").click(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#stars").val("4");
            lock1 = lock2 = lock3 = lock4 = true;
            lock5 = false;
        });

        $("#5").click(function(){
            $("#1").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#2").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#3").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#4").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#5").removeClass("glyphicon-star-empty").addClass("glyphicon-star");
            $("#stars").val("5");
            lock1 = lock2 = lock3 = lock4 = lock5 = true;
        });
    </script>
{% endblock %}